// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Abel|Arya:400,700|News+Cycle:400,700|Work+Sans:100,200,300,400,500,600,700,800,900|Abril+Fatface|Khula:300,400,600,700,800|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Lora:400,400i,700,700i|Merriweather:300,300i,400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Material+Icons);

// Font Variables
$Lora: 'Lora', serif; // 400,400i,700,700i
$Playfair: 'Playfair Display', serif; // 400,400i,700,700i,900,900i
$PlayfairSC: 'Playfair Display SC', serif; // 400,400i,700,700i,900,900i
$Abril: 'Abril Fatface', serif; // n/a
$Merriweather: 'Merriweather', serif; // 300,300i,400,400i,700,700i,900,900i

$Roboto: 'Roboto', sans-serif; // 100,100i,300,300i,400,400i,500,500i,700,700i,900,900i
$Khula: 'Khula', sans-serif; // 300,300i,400,400i,700,700i,900,900i
$OpenSans: 'Open Sans', sans-serif; // 300,300i,400,400i,700,700i,900,900i
$WorkSans: 'Work Sans', sans-serif; //100,200,300,400,500,600,700,800,900
$News: 'News Cycle', sans-serif; //400,700
$Arya: 'Arya', sans-serif; //400,700
$Abel: 'Abel', sans-serif;
$Raleway: 'Raleway', sans-serif; //100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i
