/*
*
* Buttons
* Author: Roy Peckham
* Inspired from MaterialDesign
*
*/
.rp-app-wrapper{
    -webkit-box-flex: 1;
    //display: -webkit-box;
    //display: -ms-flexbox;
    display: flex; 
    //-webkit-box-flex: 1;
    flex: 1 1 auto;
    //-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    //-ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;   
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: .5s cubic-bezier(.25,.8,.5,1);
    transition: .5s cubic-bezier(.25,.8,.5,1);
    z-index: 5;  
    &:before{
        background-color: #212121;
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        right: 0;
        top: 0;
        -webkit-transition: inherit;
        transition: inherit;
        -webkit-transition-delay: .15s;
        transition-delay: .15s;
        width: 100%;
        position: absolute;    
    } 
}
.overlay--active{
    pointer-events: auto;
    //-ms-touch-action: none;
    touch-action: none;
}



#rp-navigation-drawer{
    // Style
    height: 100%;
    margin-top: 0px;
    max-height: calc(100% - 0px);
    width: 300px;    

    /*
    Open
    -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    */

    background-color: #FFF;
    z-index: 6;
    position: absolute;

    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    //-webkit-overflow-scrolling: touch;
    padding: 0 0 100px;
    pointer-events: auto;
    //-webkit-transition: .2s cubic-bezier(.4,0,.2,1);
    transition: .2s cubic-bezier(.4,0,.2,1);
    top: 0;
    left: 0;
    will-change: transform;
    //z-index: 3;
}